@{
    ViewBag.Title = "MapNotes";
}

<div class="row">
    <div class="col-md-12">

        <div ng-controller="mapController">
            <div id="map"></div>

            <h3>Заметки в радиусе 2км от центра карты:</h3>

            <ul>
                <li ng-repeat="x in notes">
                    {{ x.labelContent }}
                </li>
            </ul>

        </div>

    </div>
</div>